*{
    box-sizing:border-box
}
.container{
    width: 300px;
    height: 250px;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 4px;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
    background: linear-gradient(to top left, powderblue, pink);
    background-size: 200% 200%;
    animation: bg 7s linear infinite;
}
@keyframes bg{
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

.logo {
    position: absolute;
    bottom: 15px;
    left: 15px;
    transform: translateY(0);
    animation: logo 2s ease-in;
}
@keyframes logo {
    0%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0);
    }
}
.logo img{
    width: 50px;
    height: auto;
}

.main-text {
    padding: 15px;
}

h1{
    margin-top: 0;
}
.main-text span{
    display: block;
    transform: translateX(0);
    animation: text 2s ease-in;
}
@keyframes text {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.holder-boxs {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.holder-boxs .box{
    list-style-type: none;
    border-radius: 10px;
    background-color: darkslategray;
    opacity: .5;
    position: absolute;
}

.holder-boxs .box:nth-child(1){
    animation: box1 3s infinite;
    width: 30px;
    height: 5px;
}
@keyframes box1{
    0%{
        transform: rotate(-65deg) translate(170px, 100px)
    }
    100% {
        transform: rotate(-65deg) translate(-350px, 100px)
    }
}
.holder-boxs .box:nth-child(2){
    animation: box2 2s infinite;
    width: 80px;
    height: 3px;
}
@keyframes box2{
    0%{
        transform: rotate(-65deg) translate(90px, 40px)
    }
    100% {
        transform: rotate(-65deg) translate(-250px, 40px);
    }
}
.holder-boxs .box:nth-child(3){
    animation: box3 3.5s infinite;
    width: 50px;
    height: 3px;
}
@keyframes box3{
    0%{
        transform: rotate(-65deg) translate(70px, 180px);
    }
    100% {
        transform: rotate(-65deg) translate(-250px, 180px);
    }
}
.holder-boxs .box:nth-child(4){
    animation: box4 2s infinite;
    width: 60px;
    height: 2px;
}
@keyframes box4{
    0%{
        transform: rotate(-65deg) translate(50px, 280px);
    }
    100% {
        transform: rotate(-65deg) translate(-370px, 280px);
    }
}

.btn{
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: #fff;
    background-color: darkred;
    border-radius: 50px;
    padding: 10px 20px;
    min-width: 80px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    transition: .2s;
}
.btn:before{
    content: '';
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: lightgray;
    opacity: .8;
    transform: translateX(-40px) skewX(-20deg);
    opacity: 0;
}
.btn:hover{
    background-color:crimson;
    animation: btn .5s linear;
    box-shadow: 1px 1px 1px black;
}
.btn:hover:before{
    opacity: 1;
    animation: btn-before .4s ease-in-out;
}
@keyframes btn-before{
    0%{
        transform: translateX(-40px) skewX(-20deg);
    }
    100%{
        transform: translateX(75px) skewX(-20deg);
    }
}